<form [formGroup]="form" (ngSubmit)="guardarClase($event)">

    <mat-toolbar color="primary">
        <h2 mat-dialog-title>Inscripción al Curso</h2>
    </mat-toolbar>

    <mat-dialog-content class="mat-typography">

        <div class="contenedor">

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">

                        <input matInput [matDatepicker]="picker" placeholder="Fecha De Ingreso" [value]="fechaClase"
                            formControlName="fechaClase" disabled>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <!-- <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput type="time" placeholder="Hora" [value]="hora | date:'HH:mm'" disabled>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Código de instructor" [value]="instructor" disabled> 
                        
                    </mat-form-field>
                </div> -->
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Alumno" formControlName="alumnoNumero"
                            [errorStateMatcher]="matcher">
                        <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
                            (click)='seleccionarAlumno()'>
                            <mat-icon> search </mat-icon>
                        </button>
                        <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" (click)='altaAlumno()'>
                            <mat-icon> add </mat-icon>
                        </button>

                        <mat-error
                            *ngIf="alumnoNumeroField.hasError('required') && alumnoNumeroField.dirty && alumnoNumeroField.errors">
                            El número del alumno <strong>es requerido.</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="alumnoNumeroField.hasError('existeAlumno')  && alumnoNumeroField.dirty && alumnoNumeroField.errors">
                            El número del alumno <strong>no existe.</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="alumnoNumeroField.hasError('alumnoYaAsignado')  && alumnoNumeroField.dirty && alumnoNumeroField.errors">
                            El alumno ya se encuentra <strong> asignado </strong> en otro movil.
                        </mat-error>
                        <mat-error
                            *ngIf="alumnoNumeroField.hasError('alumnoTieneExcepcion')  && (alumnoNumeroField.dirty || alumnoNumeroField.errors)">
                            El alumno tiene cargada una <strong>excepción </strong> para este día y hora.
                        </mat-error>

                        <!-- </div> -->
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="   " formControlName="alumnoNombre" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="alumnoNombreField.hasError('required')">
                            Alumno es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Cédula de Identidad" formControlName="alumnoCI">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Télefono" formControlName="alumnoTelefono">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Celular" formControlName="alumnoCelular">
                    </mat-form-field>
                </div>
            </div>

            <mat-divider></mat-divider>
            <div class="row">
                <div class="col-xs-4">
                    <mat-form-field class="full-width">
                        <!-- [(ngModel)]="inscripcionCurso.TipCurId" -->
                        <input matInput placeholder="Curso" formControlName="cursoId" (blur)='obtenerCurso()'
                            [errorStateMatcher]="matcher">
                        <!-- (blur)='obtenerCurso(inscripcionCurso.TipCurId)'  -->
                        <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
                            (click)='seleccionarCurso()'>
                            <mat-icon> search </mat-icon>
                        </button>

                        <!-- <mat-error
                            *ngIf="alumnoNumeroField.hasError('required') && alumnoNumeroField.dirty && alumnoNumeroField.errors">
                            El código del curso <strong>es requerido.</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="alumnoNumeroField.hasError('existeAlumno')  && alumnoNumeroField.dirty && alumnoNumeroField.errors">
                            El código del curso <strong>no existe.</strong>
                        </mat-error> -->

                    </mat-form-field>
                </div>

                <div class="col-xs-4">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nombre del Curso" formControlName="cursoNombre" disabled>
                    </mat-form-field>
                </div>

                <div class="col-xs-4">
                    <mat-form-field class="full-width">


                        <input matInput [matDatepicker]="pickerCurso" placeholder="Inicio del Curso"
                            formControlName="escCurIni">
                        <mat-datepicker-toggle matSuffix [for]="pickerCurso"></mat-datepicker-toggle>
                        <mat-datepicker #pickerCurso></mat-datepicker>


                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-xs-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Prácticas" formControlName="cursoClasesPracticas">
                            </mat-form-field>

                        </div>
                        <div class="col-xs-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Teóricas" formControlName="cursoClasesTeoricas">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-3">
                            <div id="cursoExamenPractico" style=" margin-top: 20px;">
                                <mat-checkbox formControlName="cursoExamenPractico">Exámen
                                    Prácticas</mat-checkbox>

                            </div>

                        </div>
                        <div class="col-xs-3">
                            <div id="cursoExamenTeorico" style=" margin-top: 20px;">
                                <mat-checkbox formControlName="cursoExamenTeorico">Exámen Teorico
                                </mat-checkbox>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">

                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5" placeholder="Observaciones"
                            formControlName="observaciones"></textarea>
                        <!-- [(ngModel)]="inscripcionCurso.EscAgeInsObservaciones" -->
                    </mat-form-field>
                </div>
            </div>

        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button [disabled]="form.invalid" mat-raised-button type="submit" [mat-dialog-close]="inscripcionCurso"
            cdkFocusInitial>Guardar Cambios</button>
        <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
    </mat-dialog-actions>

</form>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->