table {
  width: 100%;
  margin-top: 20px;
}

.cell {
  width: 6%;
  height: 20px;
  padding: 5px;
}

.contenedor {
  width: 96%;
  margin: 2%;
}

.th-agenda {
  text-align: center !important;
}

.black {
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
  border-radius: 1px;
  border: 1px solid rgba(126, 121, 121, 0.801);
}
td,
th {
  text-align: center !important;
}
td:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}
td:active {
  color: #212529;
  background-color: rgba(52, 10, 99, 0.2);
}

td:focus {
  color: #212529;
  background-color: rgba(240, 0, 0, 0.562);
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

mat-toolbar {
  background-color: transparent;
}

.width-fixed {
  max-width: 130px;
  min-width: 130px;
}

.borde-fecha {
  border: 1px solid grey;
}

.black-red {
  background-color: rgba(60, 60, 60, 0.685);
  color: rgba(255, 0, 0, 0.836);
  border-radius: 1px;
  border: 1px solid rgba(126, 121, 121, 0.801);
}

.black-white {
  background-color: rgba(0, 0, 0, 0.685);
  color: rgba(255, 255, 255, 0.836);
  border-radius: 1px;
  border: 1px solid rgba(126, 121, 121, 0.801);
}

.red-black {
  background-color: rgba(255, 0, 0, 0.685);
  color: rgba(0, 0, 0, 0.836);
  border-radius: 1px;
  border: 1px solid rgba(126, 121, 121, 0.801);
}

.orange-black {
  background-color: rgba(255, 106, 34, 0.685);
  color: rgba(0, 0, 0, 0.836);
  border-radius: 1px;
  border: 1px solid rgba(126, 121, 121, 0.801);
}

.yellow-black {
  background-color: rgba(255, 255, 130, 0.685);
  color: rgba(0, 0, 0, 0.836);
  border-radius: 1px;
  border: 1px solid rgba(126, 121, 121, 0.801);
}

.blue-white {
  background-color: rgba(0, 0, 255, 0.685);
  color: rgba(255, 255, 255, 0.836);
  border-radius: 1px;
  border: 1px solid rgba(126, 121, 121, 0.801);
}

.green-black {
  background-color: rgba(128, 128, 0, 0.685);
  color: rgba(0, 0, 0, 0.836);
  border-radius: 1px;
  border: 1px solid rgba(126, 121, 121, 0.801);
}

.greenLight-black {
  background-color: rgba(176, 255, 176, 0.685);
  color: rgba(0, 0, 0, 0.836);
  border-radius: 1px;
  border: 1px solid rgba(126, 121, 121, 0.801);
}

.skyblue-blue {
  background-color: rgba(191, 236, 238, 0.685);
  color: rgba(0, 0, 255, 0.836);
  border-radius: 1px;
  border: 1px solid rgba(126, 121, 121, 0.801);
}
