<!-- (ngSubmit)="pagar($event)" -->
<div [formGroup]="form">
  <mat-button-toggle-group name=" fontStyle" aria-label="Font Style" class="buttons-header">
    <mat-button-toggle value="Pagar" (click)="verMensaje()"> Pagar</mat-button-toggle>
  </mat-button-toggle-group>



  <div class="contenedor">

    <div class="row">
      <div class="flex-basis-0 col-xs-4">
        <mat-form-field>
          <mat-select placeholder="Tipo" formControlName="tipo" [(ngModel)]="tipo">
            <mat-option></mat-option>
            <mat-option value="CI">Cédula de Identidad </mat-option>
            <mat-option value="RUT">RUT</mat-option>
            <mat-option value="SOC">Número de Socio</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">

        <mat-form-field>
          <input matInput placeholder="Socio" [(ngModel)]="parametro" formControlName="parametro">

          <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
            (click)='seleccionarSocio(tipo, parametro)'>
            <mat-icon> search </mat-icon>
          </button>
        </mat-form-field>
        <!-- <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" (click)='seleccionarSocio(tipo)'>
          <mat-icon> search </mat-icon>
        </button> -->
      </div>
    </div>
    <div class="row">
      <div class="flex-basis-0 col-xs-4">
        <mat-form-field>
          <input matInput placeholder="Número de Socio" [(ngModel)]="socioId" formControlName="socioId">

        </mat-form-field>
      </div>
      <div class="col-xs-8">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Nombre " [(ngModel)]="socioNombre" formControlName="socioNombre"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="socioNombreField.hasError('required')">
            El socio es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <!-- <table mat-table class="mat-elevation-z8 products-table" matSort aria-label="Elements" [dataSource]="dataSource"> -->
    <table mat-table class="mat-elevation-z8 products-table" [dataSource]="dataSource" matSort>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
            [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.FacCod}} </td>
      </ng-container>

      <!-- NombreSocio Column -->
      <ng-container matColumnDef="nombreSocio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.FacNom}} {{element.FacApe}} </td>
      </ng-container>

      <!-- Precio Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.FacTotRed}} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.FacFech}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" (click)="selection.toggle(element)">
      </tr>
    </table>

    <mat-paginator #paginator class="mat-elevation-z8 products-table" [length]="dataSource?.data.length"
      [pageSizeOptions]="[5, 10 , 25 , 20 , 50]">
    </mat-paginator>

    <!-- [pageIndex]="0"
      [pageSize]="10" -->
  </div>

</div>