<mat-toolbar color="primary">
    <h2 mat-dialog-title>Agenda de Clase</h2>
</mat-toolbar>

<mat-dialog-content class="mat-typography">

    <div class="contenedor">

        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Fecha" [value]="fechaClase">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput type="time" placeholder="Hora" [value]="hora | date:'HH:mm'">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput type="number" placeholder="Número de Movil" [value]="agendaClase.EscMovCod">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Alumno" [value]="agendaClase.AluNomApe">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">

                    <input matInput placeholder="Curso" [value]="agendaClase.Cursos[0]"
                        *ngIf="agendaClase.Cursos.length === 1">

                    <mat-select placeholder="Es clase adicional?" *ngIf="agendaClase.Cursos.length > 1">
                        <mat-option [value]="curso" *ngFor="let curso of agendaClase.Cursos">{{ curso }}</mat-option>
                    </mat-select>

                    <input matInput placeholder="Curso" [(value)]="curso" *ngIf="agendaClase.Cursos.length < 1">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Tipo Clase" [(value)]="agendaClase.EsAgCuTipCla">
                        <mat-option></mat-option>
                        <mat-option value="P"> Práctica </mat-option>
                        <mat-option value="E">Examen</mat-option>
                        <mat-option value="T">Teórico</mat-option>
                        <mat-option value="S">Simulador</mat-option>
                        <mat-option value="V">Evaluación</mat-option>
                        <mat-option value="I">Teórico Instr.</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Nº de Clase Práctica" [value]="agendaClase.EsAgCuNroCla">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-select [(value)]="agendaClase.EsAgCuClaAdiSN" placeholder="Es clase adicional?">
                        <mat-option value="S">Si</mat-option>
                        <mat-option value="N">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Instructor asignado al curso" [value]="agendaClase.AvisoInstructor">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Instructor" [value]="instructorAsignado">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Detalle" [value]="agendaClase.EsAgCuDet">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Estado de la Clase" [(value)]="agendaClase.EsAgCuEst">
                        <mat-option>-</mat-option>
                        <mat-option value="A">Asignada</mat-option>
                        <mat-option value="S">Suspendida Con Cobro</mat-option>
                        <mat-option value="U">Suspendida Sin Cobro</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">

                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5" placeholder="Observaciones" [value]="agendaClase.EsAgCuObs"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Reservar</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->