<!-- novalidate -->
<form [formGroup]="alumnoForm" (ngSubmit)="guardarAlumno($event)">
  <mat-toolbar color="primary">
    <h2 mat-dialog-title>Datos del Alumno</h2>
  </mat-toolbar>


  <mat-dialog-content class="mat-typography">
    <div class="contenedor">

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Número" formControlName="aluNro">
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="aluNom">
            <mat-error *ngIf="alumnoForm.controls['aluNom'].hasError('required')">
              Nombre es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="aluApe1">
            <mat-error *ngIf="alumnoForm.controls['aluApe1'].hasError('required')">
              Apellido es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">

        <div class="col-xs-8">
          <div class="row">

            <div class="col-xs-6">
              <mat-form-field>
                <input matInput placeholder="Cédula de Identidad" formControlName="aluCi">
                <mat-error *ngIf="alumnoForm.controls['aluCi'].hasError('required')">
                  Cédula de Identidad es <strong>requerida</strong>.
                </mat-error>

              </mat-form-field>

            </div>

            <div class="col-xs-2">
              <mat-form-field>
                <input matInput placeholder="Dígito Verificador" formControlName="aluDV">

                <mat-error *ngIf="alumnoForm.controls['aluDV'].hasError('required')">
                  Dígito Verificador es <strong>requerido</strong>.
                </mat-error>
              </mat-form-field>
            </div>

          </div>
        </div>

        <div class="col-xs-4">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" formControlName="aluFchNac">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Télefono" formControlName="aluTel1">
            <mat-error *ngIf="alumnoForm.controls['aluTel1'].hasError('required')">
              Télefono es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Celular" formControlName="aluTel2">
            <mat-error *ngIf="alumnoForm.controls['aluTel2'].hasError('required')">
              Celular es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Departamento" (blur)="getLocalidades(depId)" [(ngModel)]="depId"
              formControlName="aluDepId">
              <mat-option *ngFor="let departamento of departamentos" [value]="departamento.DepId">
                {{ departamento.DepNom }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="alumnoForm.controls['aluDepId'].hasError('required')">
              Departamento es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Localidad/Barrio" [(ngModel)]="locId" formControlName="aluLocId">
              <mat-option *ngFor="let localidad of localidades" [value]="localidad.LocId">
                {{ localidad.LocNom }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="alumnoForm.controls['aluLocId'].hasError('required')">
              Localidad es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Dirección" formControlName="aluDir">
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">

          <mat-form-field class="full-width">
            <mat-label>Correo Electronico</mat-label>
            <input matInput placeholder="Ej. juan.perez@gmail.com" formControlName="aluMail">
            <mat-error
              *ngIf="alumnoForm.controls['aluMail'].hasError('email') && !alumnoForm.controls['aluMail'].hasError('required')">
              El correo electrónico ingresado es <strong>incorrecto</strong>.
            </mat-error>
            <mat-error *ngIf="alumnoForm.controls['aluMail'].hasError('required')">
              Correo Electrónico es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row margin-top">
        <div class="col">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Datos Persona de Contacto
                </mat-panel-title>
                <!-- <mat-panel-description>
                  Type your name and age
                </mat-panel-description> -->
              </mat-expansion-panel-header>

              <div class="row">

                <div class="col-xs-4">
                  <mat-form-field>
                    <input matInput placeholder="Nombres" formControlName="aluConNom">
                  </mat-form-field>
                </div>

                <div class="col-xs-4">
                  <mat-form-field>
                    <input matInput placeholder="Télefono" formControlName="aluConTel">
                  </mat-form-field>

                </div>

                <div class="col-xs-4">
                  <mat-form-field>
                    <input matInput placeholder="Parentesco" formControlName="aluConPar">
                  </mat-form-field>
                </div>

              </div>


            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <div class="row margin-top">
        <div class="col">

          <mat-form-field>
            <input matInput placeholder="Socio" [(ngModel)]="socId" (blur)='obtenerSocio(socId)'
              formControlName="socId">

            <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" (click)='seleccionarSocio(socId)'>
              <mat-icon> search </mat-icon>
            </button>
          </mat-form-field>

        </div>
      </div>

      <div class="row">

        <div class="col-xs-4">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombres" formControlName="socNom1">
          </mat-form-field>
        </div>

        <div class="col-xs-4">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellidos" formControlName="socApe1">
          </mat-form-field>
        </div>

        <div class="col-xs-4">
          <mat-form-field class="full-width">
            <input matInput formControlName="socApe2">
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-4">
          <mat-form-field class="full-width">
            <input matInput placeholder="Último Pago" formControlName="socUltimoPago">
          </mat-form-field>
        </div>

        <div class="col-xs-4">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cant. Alumnos Presentados" formControlName="cantPres">
          </mat-form-field>
        </div>

        <div class="col-xs-4">
          <mat-form-field class="full-width">
            <mat-select placeholder="Parentesco" formControlName="aluPar">
              <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                {{ parentesco.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>


    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="alumnoForm">Guardar Alumno</button>
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
  </mat-dialog-actions>
</form>