<mat-dialog-content class="mat-typography">

  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="aluId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.aluId}}</td>
      </ng-container>

      <!-- Nro Column -->
      <ng-container matColumnDef="aluNro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro</th>
        <td mat-cell *matCellDef="let row">{{row.aluNro}}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="aluNom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let row">{{row.aluNom}}</td>
      </ng-container>

      <!-- Apellido Column -->
      <ng-container matColumnDef="aluApe1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
        <td mat-cell *matCellDef="let row">{{row.aluApe1}}</td>
      </ng-container>

      <!-- CI Column -->
      <ng-container matColumnDef="aluCI">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CI</th>
        <td mat-cell *matCellDef="let row">{{row.aluCI}}</td>
      </ng-container>


      <!-- Direccion Column -->
      <ng-container matColumnDef="aluDir">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
        <td mat-cell *matCellDef="let row">{{row.aluDir}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Disponibilidad</button>
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>